.vscode/launch.json
Glass-Bluetooth/.project
Glass-Bluetooth/.gradle/5.4.1/gc.properties
Glass-Bluetooth/.gradle/5.4.1/executionHistory/executionHistory.lock
Glass-Bluetooth/.gradle/5.4.1/fileChanges/last-build.bin
Glass-Bluetooth/.gradle/5.4.1/fileHashes/fileHashes.lock
Glass-Bluetooth/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Glass-Bluetooth/.gradle/buildOutputCleanup/cache.properties
Glass-Bluetooth/.gradle/vcs-1/gc.properties
Glass-Bluetooth/.settings/org.eclipse.buildship.core.prefs
clearOrbit-Vince/.flutter-plugins
clearOrbit-Vince/.packages
clearOrbit-Vince/pubspec.lock
clearOrbit-Vince/android/.project
clearOrbit-Vince/android/local.properties
clearOrbit-Vince/android/.gradle/4.10.2/gc.properties
clearOrbit-Vince/android/.gradle/4.10.2/fileChanges/last-build.bin
clearOrbit-Vince/android/.gradle/4.10.2/fileHashes/fileHashes.bin
clearOrbit-Vince/android/.gradle/4.10.2/fileHashes/fileHashes.lock
clearOrbit-Vince/android/.gradle/vcs-1/gc.properties
clearOrbit-Vince/android/.settings/org.eclipse.buildship.core.prefs
clearOrbit-Vince/android/app/.classpath
clearOrbit-Vince/android/app/.project
clearOrbit-Vince/android/app/.settings/org.eclipse.buildship.core.prefs
clearOrbit-Vince/ios/Flutter/flutter_export_environment.sh
clearOrbit-Vince/ios/Flutter/Generated.xcconfig
clearOrbit-Vince/ios/Pods/Manifest.lock
clear_orbit_app/android/.project
clear_orbit_app/android/.settings/org.eclipse.buildship.core.prefs
clearOrbit-Vince/pubspec.lock
clearOrbit-Vince/android/local.properties
clearOrbit-Vince/ios/Flutter/Generated.xcconfig
clearOrbit-Vince/ios/Pods/Manifest.lock
