body
{
  font-family: Arial;
  color: #067778;
  background: url('https://s-media-cache-ak0.pinimg.com/originals/74/85/dd/7485dd35a00469f9bc612cdcdf0e05a2.jpg');
  background-position: center;
  
}
/*style for Login and Registration Form*/
.loginform, .registerform
{
  width: 350px;
  height: 350px;
  position: absolute;
  left: 50%;
  margin-left:-175px;
  border: none;
  border-radius: 10px;
  top: 100px;
  line-height: 5px;
  text-align: center;
  background-color: #A9E2F3;
  -webkit-box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.75)
box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.75);
  
}
.loginform
{
  z-index: 1;
}
.registerform-active
{
  z-index: 2;
  background-color: #0B4C5F;
}
.registerform input
{
  background-color: #0B4C5F;
  color: white;
}
.registerform .submit
{
  background-color: white;
  color: #0B4C5F;
  position: relative;
  top: 120px;
}

.whitetop
{
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  box-shadow: none;
  background: white;
  border-radius: 10px 10px 0px 0px; 
}

h3
{
 font-family: Verdana;
 position: relative;
 top: 5px;
}

input[type=uText],input[type=password]
{
  position: relative;
  top: 110px;
  height: 25px;
  width: 200px;
  margin: 10px;
  border:none;
  background-color: #A9E2F3;
  border: none;
  border-bottom: 2px solid white;
  transition: all 0.5s ;
}

input[type=rText],input[type=rPass]
{
  position: relative;
  top: 110px;
  height: 25px;
  width: 200px;
  margin: 10px;
  border:none;
  background-color: #0B4C5F;
  border: none;
  border-bottom: 2px solid white;
  transition: all 0.5s ;
}

input[type=uText]:focus, input[type=password]:focus 
{
  outline: none; 
  border-bottom: 2px solid #088A85;
  width: 250px;
}

input[type=rText]:focus, input[type=rPass]:focus 
{
  outline: none; 
  border-bottom: 2px solid #088A85;
  width: 250px;
}

input[type=logButton]
{
  position: relative;
  top: 160px;
  width: 160px;
  height: 30px;
  border: none;
  background-color: white;
  text-align: center;
  color: #49B8A8;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.5s;
}
input[type=logButton]:hover
{
  background-color: #088A85;
  color: white;
   border-radius: 10px;
}

input[type=rButton]
{
  position: relative;
  top: 160px;
  text-align: center;
  width: 160px;
  height: 30px;
  border: none;
  background-color: white;
  color: #49B8A8;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.5s;
}
input[type=rButton]:hover
{
  background-color: #088A85;
  color: white;
   border-radius: 10px;
}
.login
{
position: absolute;
left: 0;
top: 50px;
height: 40px;
width: 173px;
text-align: center;
vertical-align: middle;
line-height: 40px; 
cursor: pointer;
}
.register
{
  position: absolute;
  right: 0;
  top: 50px;
  height: 40px;
  width: 173px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px; 
  cursor: pointer;
}
/*End of L and R forms
Profile styling*/
.profileForm
{
  display:none;
  width: 650px;
  height: 750px;
  position: absolute;
  left: 50%;
  margin-left:-175px;
  border: none;
  border-radius: 10px;
  top: 20px;
  line-height: 5px;
  text-align: center;
  background-color: #A9E2F3;
  -webkit-box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.75)
box-shadow: 0px 0px 36px 1px rgba(0,0,0,0.75);
  
}

.whitetop
{
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  box-shadow: none;
  background: white;
  border-radius: 10px 10px 0px 0px; 
}


.firstName
{
  position: relative;
  bottom: 20px;
  right:10px;
  height: 25px;
  width: 530px;
  margin: 10px;
  border:none;
  background-color: #A9E2F3;
  border: none;
  border-bottom: 2px solid white;
  transition: all 0.5s ;
}
.lastName
{
  position: relative;
  bottom: 30px;
  right:10px;
  height: 25px;
  width: 530px;
  margin: 10px;
  border:none;
  background-color: #A9E2F3;
  border: none;
  border-bottom: 2px solid white;
  transition: all 0.5s ;
}

.occu
{
  position: relative;
  bottom: 40px;
  right:10px;
  height: 25px;
  width: 530px;
  margin: 10px;
  border:none;
  background-color: #A9E2F3;
  border: none;
  border-bottom: 2px solid white;
  transition: all 0.5s ;
}

.age
{
  position: relative;
  bottom: 50px;
  right: 160px;
  height: 25px;
  width: 230px;
  margin: 10px;
  border:none;
  background-color: #A9E2F3;
  border: none;
  border-bottom: 2px solid white;
  transition: all 0.5s ;
}

.phone 
{
  position: relative;
  bottom: 100px;
  left: 140px;
  height: 25px;
  width: 230px;
  margin: 10px;
  border:none;
  background-color: #A9E2F3;
  border: none;
  border-bottom: 2px solid white;
  transition: all 0.5s ;
}

.city
{
  position: relative;
  bottom: 110px;
  right: 160px;
  height: 25px;
  width: 230px;
  margin: 10px;
  border:none;
  background-color: #A9E2F3;
  border: none;
  border-bottom: 2px solid white;
  transition: all 0.5s ;
}

.state
{
  position: relative;
  bottom: 160px;
  left: 75px;
  height: 25px;
  width: 100px;
  margin: 10px;
  border:none;
  background-color: #A9E2F3;
  border: none;
  border-bottom: 2px solid white;
  transition: all 0.5s ;
}

.zip
{
  position: relative;
  bottom: 210px;
  left: 220px;
  height: 25px;
  width: 70px;
  margin: 10px;
  border:none;
  background-color: #A9E2F3;
  border: none;
  border-bottom: 2px solid white;
  transition: all 0.5s ;
}
.age:focus, .phone:focus, .city:focus, .zip:focus
{
  outline: none; 
  border-bottom: 2px solid #088A85;
  width: 250px;
}

.firstName:focus, .lastName:focus, .occu:focus
{
  outline: none; 
  border-bottom: 2px solid #088A85;
  width: 550px;
}

.zip:focus
{
  outline: none; 
  border-bottom: 2px solid #088A85;
  width: 90px;
}
.state:focus
{
  outline: none; 
  border-bottom: 2px solid #088A85;
  width: 150px;
}
.pSubmit
{
  position: relative;
  bottom: 150px;
  width: 160px;
  height: 30px;
  border: none;
  background-color: white;
  color: #49B8A8;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.5s;
}
.pSubmit:hover
{
  background-color: #088A85;
  color: white;
  border-radius: 10px;
}
/*picture upload*/
.pic-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.pic-upload .pic-edit {
  position: absolute;
  right: 0px;
  z-index: 1;
  top: 10px;
}
.pic-upload .pic-edit input {
  display: none;
}
.pic-upload .pic-edit input + label {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #00ccff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.pic-upload .pic-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.pic-upload .pic-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.pic-upload .pic-preview {
  width: 292px;
  height: 292px;
  right: 50px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.pic-upload .pic-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*end of picture upload*/
.close {
  position: absolute;
  right: 25px;
  bottom: 20px;
  color: #49B8A8;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #088A85;
  cursor: pointer;
}

/* Extra styles for the cancel button */
.cancelbtn {
position: absolute;
left: 20px;
 top: 710px;
  width: 110px;
  height: 30px;
 border: none;
  background-color: white;
  color: #49B8A8;
  font-size: 15px;
  font-weight: bold;
  transition: all 0.5s;
}

.cancelbtn:hover
{
  background-color: #088A85;
  color: white;
  border-radius: 10px;
}
